<div class="total flex-center" style="color: white;">
  <div class="flex-center">
    <span [sortablejs]="bioUser.bios" (onUpdate)="updateSequence()">
      <div class="glass-univ item" *ngFor="let bio of bioUser.bios">
        <h1>{{bio.name | titlecase}}</h1>
      </div>
      <div class="glass-lil-opaque item" (click)="updateSequence()">
        <h1>Save Order</h1>
      </div>
    </span>
  </div>
</div>



<!-- <button (click)="updateSequence()">
  click
</button> -->

<!-- <div class="matList1" [sortablejs]="list1">
  <div *ngFor="let task1 of list1">
      {{task1}}
  </div>
</div>
<div class="matList2"  [sortablejs]="list2">
  <div *ngFor="let task2 of list2" >
      {{task2}}
  </div>
</div> -->
