<div style="margin-top:62px;background-color: #D1D8EC;" class="total">

  <br>
  <h1 class="text-center"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h1>
  
  <!-- <span class="flex-center">
    <div class="neumorphic neumorphic--pressed variation2 pressed flex-center" style="margin: 40px 40px;padding: 20px;width: 300px;">
  
      <h6>Total Visits</h6>
      <span class="break"></span>
      <h1>24</h1>
      <span class="break"></span>
      <h6>Total Visits</h6>
      <span class="break"></span>
      <h1>35</h1>
    </div>
  </span> -->

  
  <!-- <h3 class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i> Total Visits</h3> -->
  
  <span class="flex-center">

    <div class="neumorphic neumorphic--pressed variation2 pressed flex-center" style="margin: 40px 40px;padding: 20px;width: 300px;">
  
      <h6>Total Visits</h6>
      <span class="break"></span>
      <h1>24</h1>
      <span class="break"></span>
      <h6>Total Visits</h6>
      <span class="break"></span>
      <h1>35</h1>
    </div>

    <div class="chart neumorphic neumorphic--pressed variation2 pressed flex-center" id="total bio clicks" style="margin: 40px 40px;padding: 40px;width: 300px;">
      
      <h3 class="text-center"><i class="fa fa-bar-chart" aria-hidden="true"></i> Total Visits</h3>
      
      <fusioncharts
      width="275"
      height="275"
      type="column3d"
      [dataSource]="totalBioDataSource"
      >
    
      </fusioncharts>
    </div>
    
  </span>
  
  <h5 class="text-center"><i class="fa fa-line-chart" aria-hidden="true"></i> Individual Bio Stats</h5>
  
  <div class="chart flex-center" id="for each bio clicks">
    <div *ngFor="let d of individualbios" class="neumorphic neumorphic--pressed variation2 pressed flex-center" style="margin: 40px 40px;width: auto;padding: 40px;width: 300px;">
      
      <h1>
        <!-- <img src="{{d.bio.photourl}}" width="50" height="50"> -->
        <img src="./../../../assets/logos/logo.png" class="img-40">
        {{d.bio.name | titlecase}}
      </h1>
  
      <span class="break"></span>
      <h6>Total Visits</h6>
      <span class="break"></span>
      <h1>{{d.totalClicks}}</h1>
      <span class="break"></span>
      <fusioncharts
      width="275"
      height="275"
      type="column3d"
      [dataSource]="d.dataSource"
      >
    
      </fusioncharts>
    </div>
    
  </div>

</div>


  <!--types
  bar2d
  column2d
  pie2d
  line
  bar3d
  column3d
  pie3d
  -->