<!-- <div class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/main">
        <img class="img-border-radius-10" src="../../../assets/logos/logo.png" width="28">
        <h3> Multiple Insta bio</h3>
      </a>
  
      <a (click)="toggleNavbar()" #navBurger role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/Dashboard">
          Dashboard
        </a>
  
        <a class="navbar-item" routerLink="/add">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div> -->


<div class="scrollmenu">

    <div class="neumorphic variation2" routerLink="/main/dashboard" routerLinkActive="neumorphic--pressed pressed">
      DashBoard
    </div>

    <div class="neumorphic variation2" routerLink="/main/all" routerLinkActive="neumorphic--pressed pressed">
      My Bios
    </div>

    <div class="neumorphic variation2" routerLink="/main/add" routerLinkActive="neumorphic--pressed pressed">
      Add Bio
    </div>
  <!-- <a  routerLink="/" routerLinkActive="neumorphic--pressed pressed">
    <div class="neumorphic variation2">
      Home
    </div>
  </a> -->

    <div class="neumorphic variation2" routerLink="/bio/Suggesto_Official" routerLinkActive="neumorphic--pressed pressed">
      My Wall
    </div>

</div>